<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SpecifierTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<SpecifierTool.Properties.Settings>
   <setting name="UPROPERTY_Specifiers" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>Const</string>
      <string>GlobalConfig</string>
      <string>Localized</string>
      <string>Transient</string>
      <string>DuplicateTransient</string>
      <string>NonPIETransient</string>
      <string>Ref</string>
      <string>Export</string>
      <string>EditInline</string>
      <string>NoClear</string>
      <string>EditFixedSize</string>
      <string>Replicated</string>
      <string>RepRetry</string>
      <string>NotReplicated</string>
      <string>Interp</string>
      <string>NonTransactional</string>
      <string>Instanced</string>
      <string>BlueprintAssignable</string>
      <string>SimpleDisplay</string>
      <string>AdvancedDisplay</string>
      <string>EditAnywhere</string>
      <string>EditInstanceOnly</string>
      <string>EditDefaultsOnly</string>
      <string>VisibleAnywhere</string>
      <string>VisibleInstanceOnly</string>
      <string>VisibleDefaultsOnly</string>
      <string>BlueprintReadOnly</string>
      <string>BlueprintReadWrite</string>
      <string>AssetRegistrySearchable</string>
      <string>SaveGame</string>
      <string>BlueprintCallable</string>
      <string>BlueprintAuthorityOnly</string>
      <string>TextExportTransient</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="UENUM_Specifiers" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>BlueprintType</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="UFUNCTION_Specifiers" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>BlueprintAuthorityOnly</string>
      <string>BlueprintCallable</string>
      <string>BlueprintCosmetic</string>
      <string>BlueprintGetter</string>
      <string>BlueprintImplementableEvent</string>
      <string>BlueprintInternalUseOnly</string>
      <string>BlueprintNativeEvent</string>
      <string>BlueprintPure</string>
      <string>BlueprintSetter</string>
      <string>CallInEditor</string>
      <string>Client</string>
      <string>CustomThunk</string>
      <string>Exec</string>
      <string>NetMulticast</string>
      <string>Reliable</string>
      <string>SealedEvent</string>
      <string>ServiceRequest</string>
      <string>ServiceResponse</string>
      <string>Server</string>
      <string>Unreliable</string>
      <string>WithValidation</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="USTRUCT_Specifiers" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>Atomic</string>
      <string>Blueprintable</string>
      <string>BlueprintType</string>
      <string>Immutable</string>
      <string>NoExport</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="UCLASS_Specifiers" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>Abstract</string>
      <string>AdvancedClassDisplay</string>
      <string>Blueprintable</string>
      <string>BlueprintType</string>
      <string>CollapseCategories</string>
      <string>Const</string>
      <string>ConversionRoot</string>
      <string>CustomConstructor</string>
      <string>DefaultToInstanced</string>
      <string>Deprecated</string>
      <string>DontCollapseCategories</string>
      <string>EditInlineNew</string>
      <string>HideDropdown</string>
      <string>Intrinsic</string>
      <string>MinimalAPI</string>
      <string>NoExport</string>
      <string>NonTransient</string>
      <string>NotBlueprintable</string>
      <string>NotPlaceable</string>
      <string>PerObjectConfig</string>
      <string>Placeable</string>
      <string>Transient</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="UINTERFACE_Specifiers" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>Blueprintable</string>
      <string>BlueprintType</string>
      <string>MinimalAPI</string>
     </ArrayOfString>
    </value>
   </setting>
  </SpecifierTool.Properties.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Text.Logic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.CoreUtility" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Text.Data" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Text.UI" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Text.UI.Wpf" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Utilities" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Shell.Immutable.10.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Shell.Immutable.14.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-16.3.0.0" newVersion="16.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Shell.Immutable.11.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Imaging" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Shell.Immutable.12.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.ImageCatalog" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Prism.Wpf" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.0.1367" newVersion="7.2.0.1367" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.0.1367" newVersion="7.2.0.1367" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="StreamJsonRpc" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
